t.yadayah.com {
    redir https://yadayah.com{uri} permanent
}

yadayah.com, www.yadayah.com {
    tls /certs/origin.pem /certs/origin.key

    @fonts path *.woff2 *.woff *.ttf *.otf *.eot
    header @fonts Access-Control-Allow-Origin *
    header @fonts Cache-Control "public, max-age=31536000"

    @sse path /api/ask.php /api/community-sse.php
    reverse_proxy @sse web:80 {
        flush_interval -1
        transport http {
            read_timeout 320s
        }
    }

    reverse_proxy web:80
}

inthecompanyofgoodandevil.com, www.inthecompanyofgoodandevil.com {
    redir / /In-the-Company-of-Good-and-Evil/ permanent
    reverse_proxy web:80
}

book.yadayah.com {
    tls /certs/origin.pem /certs/origin.key
    redir https://yadayah.com{uri} permanent
}
